-e git+https://github.com/kevinastone/django-api-rest-and-angular.git@571a1f0c82c5c87a2cb4ee730251ab2ec875fc2a#egg=API_Example-master
Django==1.7
Flask==0.10.1
Jinja2==2.7.3
Markdown==2.5.1
MarkupSafe==0.23
Pillow==2.6.1
Werkzeug==0.9.6
biopython==1.62
django-extensions==1.4.4
django-filter==0.8
djangorestframework==2.4.3
itsdangerous==0.24
numpy==1.7.1
six==1.8.0
virtualenv==1.11.6
